@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

@theme {
    --color-primary: #59B4C3;
    --color-secondary: #9ACBD0;
    --color-blue: #B7B1F2;
    --color-logout: #1B1833;
    --color-sidebarBorder: #EFE9D5;
    --color-fun-blue: #3ABEF9;
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

body {
    @apply bg-gray-100 text-black transition-colors duration-300;
}

.dark body {
    @apply bg-gray-900 text-white;
}